# .flake8

[flake8]
# Максимальна довжина рядка, має збігатися з black
max-line-length = 120

# Коди помилок, які потрібно ігнорувати
# E203: Пробіл перед ':' (Конфліктує з Black)
# W503: Перенесення рядка перед бінарним оператором (Конфліктує з Black)
# E501: Рядок задовгий (контролюється Black)
# E731: Не присвоюйте лямбда-вираз, використовуйте def
extend-ignore = E203,W503,E501,E731

# Плагіни для перевірки: C (mccabe), E/W (pycodestyle), F (pyflakes), B (bugbear), S (bandit)
select = C,E,F,W,B,S

# Складність функцій за mccabe
max-complexity = 10

# Папки та файли, які потрібно виключити з перевірки
exclude =
    .git,
    __pycache__,
    .venv,
    build,
    dist,
    **/migrations/*.py