{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <title>{{ name }} - Food Delivery</title>
{% endblock %}

{% block content %}
<div class="card">
    {% comment %} <a href="{% url 'restaurant:dish_list' %}">← Back to all dishes</a> {% endcomment %}
    <div class="card-header">
        <div class="card-title">
            <h1>{{ name }}</h1>
        </div>
        </img src="{{ photo_url }}" alt="{{ name }}">
        <h2>${{ price }}</h2> 
    </div>
    <p><strong>Description:</strong> {{ description }}</p>
{% endblock %}     